# Ignorar o ambiente virtual
atmos-alert-venv/

# Ignorar arquivos de banco de dados locais pesados, arquivo binario de cahe
data/
outputs/
*.db

# Ignorar credenciais e senhas
.env

# Ignorar arquivos de cache do Python (boa prática)
__pycache__/
*.pyc
.ipynb_checkpoints/

# Arquivos de anotações na criação
anotacoes.txt
tabela-de-focos.xlsx